[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/juice-nft-rewards"]
	path = lib/juice-nft-rewards
	url = https://github.com/jbx-protocol/juice-nft-rewards
